<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- content-header component -->
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
  
      <!-- account setting page -->
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-md-3 mb-2 mb-md-0">
            <ul
              ngbNav
              #navVertical="ngbNav"
              class="nav nav-pills flex-column nav-left"
            >
              <!-- <li class="nav-item" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-general"
                  data-toggle="pill"
                  href="#account-vertical-general"
                  aria-expanded="true"
                >
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">General</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-3">
                          <h5 class="mb-50">Code Number</h5>
                          <p class="card-text mb-3">
                            {{ member?.memberCode || "Not available" }}
                          </p>
                        </div>
  
                        <div class="col-md-6">
                          <h5 class="mb-50">Name</h5>
                          <p class="card-text mb-3">
                            {{ user?.lastName }}, {{ user?.firstName }}
                            {{ user?.middleName }}
                          </p>
                        </div>
  
                        <div class="col-md-3">
                          <h5 class="mb-50">Birthday</h5>
                          <p class="card-text mb-3">
                            {{ user?.birthday | date : "mediumDate" }}
                          </p>
                        </div>
                      </div>
  
                      <div class="row">
                        <div class="col-md-3">
                          <h5 class="mb-50">TIN</h5>
                          <p class="card-text mb-3">{{ user.tin }}</p>
                        </div>
  
                        <div class="col-md-6">
                          <h5 class="mb-50">Address</h5>
                          <p class="card-text mb-3">
                            {{ user?.street }} {{ user?.barangay }},
                            {{ user?.city }} {{ user?.province }},
                            {{ user?.zipCode }}
                          </p>
                        </div>
  
                        <div class="col-md-3">
                          <h5 class="mb-50">Civil Status</h5>
                          <p class="card-text mb-3">{{ user?.civilStatus }}</p>
                        </div>
                      </div>
  
                      <div class="row">
                        <div class="col-md-3">
                          <h5 class="mb-50">Member Type</h5>
                          <p class="card-text mb-3">
                            <span class="badge badge-primary">{{
                              user?.memberType | uppercase
                            }}</span>
                          </p>
                        </div>
  
                        <div class="col-md-6">
                          <h5 class="mb-50">Email Address</h5>
                          <p class="card-text mb-3">
                            {{ user?.emailAddress || "None" }}
                            <a routerLink="/account/email/edit">
                              <small class="text-muted">Edit&nbsp;</small>
                              <i data-feather="edit"></i>
                            </a>
                          </p>
                        </div>
  
                        <div class="col-md-3">
                          <h5 class="mb-50">Contact Number</h5>
                          <p class="card-text mb-3">
                            {{ user?.contactNumber || "None" }}
  
                            <a routerLink="/account/mobile/edit">
                              <small class="text-muted">Edit&nbsp;</small>
                              <i data-feather="edit"></i>
                            </a>
                          </p>
                        </div>
                      </div>
  
                      <div class="row">
                        <div class="col-md-3">
                          <h5 class="mb-50">Member Status</h5>
                          <p class="card-text mb-3">
                            <span class="badge badge-primary">{{
                              member?.memberStatus?.description | uppercase
                            }}</span>
                          </p>
                        </div>
                        <div class="col-md-3">
                          <h5 class="mb-50">Member ID Status</h5>
                          <p class="card-text mb-3">
                            <span class="badge badge-primary">{{
                              member?.memberIDStatus?.status | uppercase
                            }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li> -->
  
              <li class="nav-item" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                  <i data-feather="lock" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Change Password</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <form
                        class="auth-reset-pass-form mt-2"
                        [formGroup]="changePasswordForm"
                        (ngSubmit)="onSubmit()"
                      >
                        <div class="form-group col-md-12">
                          <label for="password">Current Password</label>
                         
                              <div
                                class="input-group input-group-merge form-password-toggle"
                              >
                                <input
                                  [type]="passwordTextType ? 'text' : 'password'"
                                  class="form-control form-control-merge"
                                  formControlName="currentPassword"
                                  id="currentPassword"
                                  tabindex="1"
                                  [ngClass]="{ 'is-invalid error': submitted && f.currentPassword.errors }"
                                  
                                />
  
                                <div class="input-group-append">
                                  <span class="input-group-text cursor-pointer">
                                    <i
                                      class="feather font-small-4"
                                      [ngClass]="{
                                        'icon-eye-off': passwordTextType,
                                        'icon-eye': !passwordTextType
                                      }"
                                      (click)="togglePasswordTextType()"
                                    >
                                    </i>
                                  </span>
                                </div>
                              </div>
                              <div
                  *ngIf="submitted && f.currentPassword.errors"
                  class="invalid-feedback"
                  [ngClass]="{ 'd-block': submitted && f.currentPassword.errors }"
                >
                  <div *ngIf="f.password.errors.required">Current password is required</div>
                </div>
                            </div>
  
                            <div class="form-group col-md-12">
                          <label for="newPassword">New Password</label>
  
                         
                              <div
                                class="input-group input-group-merge form-password-toggle"
                              >
                                <input
                                  [type]="passwordNewTextType ? 'text' : 'password'"
                                  class="form-control form-control-merge"
                                  formControlName="password"
                                  id="password"
                                  tabindex="2"
                                  aria-describedby="password"
                                  [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                                />
  
                                <div class="input-group-append">
                                  <span class="input-group-text cursor-pointer">
                                    <i
                                      class="feather font-small-4"
                                      [ngClass]="{
                                        'icon-eye-off': passwordNewTextType,
                                        'icon-eye': !passwordNewTextType
                                      }"
                                      (click)="toggleNewPasswordTextType()"
                                    >
                                    </i>
                                  </span>
                                </div>
  
  
                                
                              </div>
                            
  
  
  
                          <p class="d-block">Password requirements:</p>
                          <ul>
                            <li
                              class="mb-30 password-requirement"
                              [class.password-invalid]="
                                submitted && f.password.errors?.characterLength
                              "
                              [class.password-valid]="
                                submitted && !f.password.errors?.characterLength
                              "
                            >
                              Minimum 8 characters long
                            </li>
                            <li
                              class="mb-30 password-requirement"
                              [class.password-invalid]="
                                submitted && f.password.errors?.lowerCase
                              "
                              [class.password-valid]="
                                submitted && !f.password.errors?.lowerCase
                              "
                            >
                              At least one lowercase character
                            </li>
                            <li
                              class="mb-30 password-requirement"
                              [class.password-invalid]="
                                submitted && f.password.errors?.upperCase
                              "
                              [class.password-valid]="
                                submitted && !f.password.errors?.upperCase
                              "
                            >
                              At least one uppercase character
                            </li>
                            <li
                              class="mb-30 password-requirement"
                              [class.password-invalid]="
                                submitted && f.password.errors?.number
                              "
                              [class.password-valid]="
                                submitted && !f.password.errors?.number
                              "
                            >
                              At least one number
                            </li>
                          </ul>
  
                          <div
                          *ngIf="submitted && f.password.errors"
                          class="invalid-feedback"
                          [ngClass]="{ 'd-block': submitted && f.password.errors }"
                        >
                          <div *ngIf="f.password.errors.required">New password is required</div>
                        </div>
                      </div>
  
                      <div class="form-group col-md-12">
                          <label for="confirmPassword">Confirm Password</label>
                         
                              <div
                                class="input-group input-group-merge form-password-toggle"
                              >
                                <input
                                  [type]="
                                    passwordConfirmTextType ? 'text' : 'password'
                                  "
                                  class="form-control form-control-merge"
                                  formControlName="confirmPassword"
                                  id="confirmPassword"
                                  tabindex="3"
                                  [ngClass]="{ 'is-invalid error': submitted && f.confirmPassword.errors }"
                                />
  
                                <div class="input-group-append">
                                  <span class="input-group-text cursor-pointer">
                                    <i
                                      class="feather font-small-4"
                                      [ngClass]="{
                                        'icon-eye-off': passwordConfirmTextType,
                                        'icon-eye': !passwordConfirmTextType
                                      }"
                                      (click)="toggleConfirmPasswordTextType()"
                                    >
                                    </i>
                                  </span>
                                </div>
                              </div>
                            <div
                  *ngIf="submitted && f.confirmPassword.errors"
                  class="invalid-feedback"
                  [ngClass]="{ 'd-block': submitted && f.confirmPassword.errors }"
                >
                  <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">Password did not match</div>
                </div>
                        </div>
  
                        
                          <div class="col-md-12">
                            <button
                            tabindex="4"
                              class="btn btn-primary btn-block"
                              rippleEffect
                            >
                              Change Password
                            </button>
                        
                        </div>
                      </form>
                    </div>
                  </div>
                </ng-template>
              </li>
  
              <!-- <li class="nav-item" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-language"
                  data-toggle="pill"
                  href="#account-vertical-language"
                  aria-expanded="false"
                >
                  <i data-feather="flag" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Language</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <div class="form-group col-md-6">
                        <label for="basicSelect">Language</label>
                        <ng-select
                          [items]="translationServiceLangs"
                          (change)="setLanguage(selectedLanguage)"
                          [(ngModel)]="selectedLanguage"
                          [searchable]="false"
                          bindLabel="lang"
                          bindValue="lang"
                        >
                          <ng-template ng-option-tmp ng-label-tmp let-item="item">
                            <i
                              class="flag-icon flag-icon-{{
                                languageOptions[item.lang].flag
                              }}"
                            ></i>
                            {{ languageOptions[item.lang].title }}
                          </ng-template>
                        </ng-select>
  
                        <br /><br />
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li> -->
            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-12 col-md-6"></div>
        </div>
      </section>
      <!--/ account setting page -->
    </div>
  </div>