// @import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/sweet-alerts.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.password {
    &-requirement {
        font-size: 0.857rem;
    }
    &-valid {
        color: #24695c;
    }
    &-invalid {
        color: #ea5455;
    }
}